*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(82, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculadora{
    background-color: aliceblue;
    width: 65%;
    padding: 5px;
    box-shadow: 1px 1px 5px #00000074;
    border-radius: 10px;
}
.tela{
    font-size: 5rem;
    text-align: right;
    padding-right: 5px;
}
.numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
}
.btn-num{
    font-size: 3rem;
    width: 23%;
    border: none;
    border-radius: 5px;
}
.btn-num:hover{
    filter: brightness(90%);
}
.btn-operacao{
    font-size: 3rem;
    width: 25%;
    background-color: orangered;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #0000006d;
}
.btn-operacao:hover{
    filter: brightness(90%);
}

.apagar{
    font-size: 3rem;
    width: 25%;
    background-color: rgb(202, 118, 21);
    color: aliceblue;
    border: none;  
}